<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Localeatz{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Localeatz</h1>
    </header>
    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Localeatz. All rights reserved.</p>
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>
