<!-- restaurants/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home - Localeatz{% endblock %}

{% block content %}
<h2>Restaurants</h2>
<ul class="restaurant-list">
    {% for restaurant in restaurants %}
        <li class="restaurant-item">
            <strong>{{ restaurant.name }}</strong><br>
            Address: {{ restaurant.address }}<br>
            Description: {{ restaurant.description }}<br>
            {% if restaurant.image %}
                <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}" style="width:200px;"><br>
            {% endif %}
        </li>
    {% empty %}
        <li>No restaurants available.</li>
    {% endfor %}
</ul>
{% endblock %}
