{% extends 'base.html' %}

{% block title %}Book Table - {{ restaurant.name }}{% endblock %}

{% block content %}
<div class="booking-container justify-content-center">
    <div class="booking-content">
        <!-- Main heading for booking at the specified restaurant -->
        <h2>Book a Table at {{ restaurant.name }}</h2>

        {% if user.is_authenticated %}
        <!-- Form for booking a table, only visible to authenticated users -->
        <form method="post" action="{% url 'book_table' restaurant.id %}" id="booking-form">
            {% csrf_token %}
            <!-- Input field for the user's name -->
            <label for="name">Your Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <!-- Input field for the booking date -->
            <label for="date">Date:</label><br>
            <input type="date" id="date" name="date" required><br><br>
            
            <label for="time">Time:</label><br>
                <select id="time" name="time" required>
                    
                </select><br><br>

            <!-- Input field for the party size -->
            <label for="party_size">Party Size:</label><br>
            <input type="number" id="party_size" name="party_size" required min="2" max="8"><br><br>

            <!-- Submit button to finalize the booking -->
            <input type="submit" class="book-now-button" value="Book Now">
        </form>

        <!-- Display any messages, e.g., errors or confirmations -->
        {% for message in messages %}
            <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
        {% else %}
        <!-- Message prompting the user to log in if they are not authenticated -->
        <p>You must be logged in to book a table. <a href="{% url 'account_login' %}">Login here</a></p>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const select = document.getElementById('time');
        if (!select) {
            console.error('Select element with ID "time" not found.');
            return;
        }

        const startTime = new Date();
        const endTime = new Date();

        startTime.setHours(12, 0, 0);
        endTime.setHours(21, 0, 0);

        select.innerHTML = '';  // Clear existing options

        while (startTime <= endTime) {
            const option = document.createElement('option');
            const timeString = startTime.toTimeString().substring(0, 5);
            option.value = timeString;
            option.textContent = timeString;
            select.appendChild(option);

            startTime.setHours(startTime.getHours() + 1);
        }
    });
    </script>
{% endblock %}