{% extends 'base.html' %}

{% block title %}Edit Booking{% endblock %}

{% block content %}
<div class="booking-container">
    <div class="booking-content">
        <h2>Edit Booking for {{ restaurant.name }}</h2>

        <form method="post" action="{% url 'edit_booking' booking.id %}">
            {% csrf_token %}
            <label for="name">Your Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="date">Date:</label><br>
            <input type="date" id="date" name="date" required><br><br>

            <label for="time">Time:</label><br>
            <select id="time" name="time" required>
            
            </select><br><br>

            <label for="party_size">Party Size:</label><br>
            <input type="number" id="party_size" name="party_size" required min="2" max="8"><br><br>

            <button type="submit" class="btn-primary">Update Booking</button>
        </form>
    </div>
</div>
{% endblock %}
