<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home - Localeatz{% endblock %}

{% block content %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<ul class="restaurant-list">
    {% for restaurant in restaurants %}
        <li class="restaurant-item">
            <strong>{{ restaurant.name }}</strong><br>
            Address: {{ restaurant.address }}<br>
            Description: {{ restaurant.description }}<br>
            {% if restaurant.image %}
                <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}" style="width:200px;"><br>
            {% endif %}
            <a href="{% url 'book_table' restaurant.id %}" class="book-now-button">Book Now</a>
        </li>
    {% empty %}
        <li>No restaurants available.</li>
    {% endfor %}
</ul>
{% endblock %}
